/* Common CSS Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Styles */
.header {
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;    
}

.banner-content {
    align-content: right;
    padding: 100px 100px 150px 800px;
}

.banner-title {
    color: #151414;
    text-align: right;
    font-size: 36px;
    font-weight: 700;
    align-content: right;
}

.banner-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    padding: 10px 15px;
}

.btn-position {
    text-align: right;
}

/* Main Section Styles */
.failure-info {
    display: flex;
}

.failure-image {
    width: 200px;
    height: 400px;
    padding: 100px 125px 100px 125px;
    align-items: left;
}

.failure-info-container {
    padding: 300px 200px 200px 300px;
}

.failure-info-title {
    color: #151414;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
}

.failure-info-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.failure-info-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

/* Plan Section Styles */
.plan-info {
    padding: 50px 200px;
}

.plan-info-title {
    color: #151414;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.plan-item-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.item-list-icon {
    margin: auto;
    display: block;
}

.list-item-title {
    color: #151414;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.list-item-description {
    color: #737272;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

/* Bottom Section Styles */
.bottom {
    padding: 50px 200px;
}

.motivation {
    background-image: url("../images/gradient3.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    height: 150px;
    padding: 50px;
}

.motivation-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    width: 400px;
}

.btn-call {
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    padding: 10px 20px;

}

/* Footer Section Styles */
footer {
    background: #151414;
}

.footer-container {
    display: flex;
    gap: 80px;
}

.footer-item {
    padding: 50px 200px 10px 200px;
}

.footer-item-title {
    color: #F8F8F8;
    font-size: 32px;
    font-weight: 700;
}

.footer-item-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.subscription input[type="email"] {
    display: block;
    margin-bottom: 20px;
}

.email-box {
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #151414;
    padding: 10px 25px 10px 10px;
}

.btn-subscribe {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding: 10px 20px;
}

.social-links {
    padding: 20px 200px;
}